body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('http://www.wallpapersbrowse.com/images/5x/5xg51gu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
